html {
  background: rgb(248, 248, 248);
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 466px;
}

body {
  width: 460px;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.active {
  background: #DDD;
}
